body {
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #fff;
}

a {
    background-color: transparent;
    text-decoration: none;
}

main {
    display: block;
}

h1,
h2,
p,
ul,
li {
    margin: 0;
}
